{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/todo_list.css' %}">
        <title>BeFocused</title>
    </head>
        <body>
            <div class="page-header">
                <ul>
            {% if user.is_authenticated %}
                    <a href="{% url 'goal_list' %}" class="top-menu">{{ welcome_text }}</a>
                    <a href="{% url 'logout' %}" class="top-menu">Log out</a>
                {% else %}
                 <a href="{% url 'login' %}" class="top-menu">Log in</a>
                 <a href="{% url 'registration' %}" class="top-menu">Register</a>

            {% endif %}
                    </ul>
                <h1><a href="{% url 'about' %} ">BeFocused</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>